@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,500&display=swap");

body {
  font-family: 'Livvic', sans-serif;
  font-weight: 600;
  background: #014E56;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-container_width w-full mx-auto px-5;
  }
}